
.wrap {
  padding-top: 162px;
  color: $black;
  display: flex;
}

h1 {
  margin-bottom: 0;
}

.section-container {
  display: flex;
  flex: 1;
}

.text-section,
.image-section {
  flex: 1;
}

.text-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.image-section {
  img {
    width: 100%;
    height: auto;
  }
}

.top-section {
  height: 100vh;
  overflow-y: hidden;
}

// Box Colors

.box-red {
  background-color: $red;
}

.box-blue {
  background-color: $blue;
}

.box-green {
  background-color: $green;
}

// Section Text Styling

.text-top {
  font-family: $grotCond;
  font-size: 26px;
  text-decoration: underline;
}

.text-title {
  font-family: $grotXnar;
  text-align: center;
  font-size: 264px;
  line-height: 200px;
  padding: 0 70px;
  text-transform: uppercase;
}

.text-title-small {
  font-size: 190px;
  line-height: 175px;
}

.text-mid {
  font-family: $gtaExtBlk;
  font-size: 38px;
  text-align: center;
  padding: 0 100px;
}

.text-body {
  font-family: 'Times New Roman', Times, serif;
  width: 65%;
  margin: 0 auto;
  padding: 60px 0;
  font-size: 35px;
}

// Custom Styling For First Home Section

.home-top {
  font-family: $gtaExtBlk;
  font-size: 45px;
  text-decoration: none;
}

.home-mid {
  font-family: $grotXnar;
  font-size: 520px;
}

.home-bot {
  font-family: $grotXnar;
  font-size: 75px;
  padding-bottom: 70px;
}

.no-learn {
  font-size: 55px;
}

.meet-title {
  padding: 0 125px;
  line-height: 220px;
}

.fa-angle-down {
  font-size: 60px;
}
